# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/nabarchive-server/build.gradle.kts
/nabarchive-server/src/minecraft
/paper-server
/nabarchive-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/